/* $id */
/*
 * Formatting for search blocks
 */
.dapi-float-left {
  float: left;
  width: 49%;
}
.dapi-float-right {
  float: right;
  width: 49%;
}
.dapi-search-bottom {
  clear: both;
}

.dapi-box {
  border: 0px solid #cccccc;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dapi-icon {
  float: left;
  width: 75px;
  height: 75px;
  border: 0px solid #999;
  margin: 0 15px 15px 0;
  padding: 5px;
}

.dapi-header {
  border-bottom: 1px dotted #BFC4CF;
}

.dapi-newline {
  clear: left;
}
